<% if reading.nil? %>
None
<% else %>
<% unless reading.nil? %>
  <li class="reading-data">
  <% if (reading.data.class === "String") %>
    <%= truncate(reading.data, :length => 10) %> 
  <% else %>
    <%= reading.data %> 
  <% end %>
  (<%= time_ago_in_words(reading.created_at) %> ago)
  </li>
<% end %>
<% end %>
