<div class="yield">
<h1>New reading</h1>

<%= render 'form' %>

<br/>
<%= link_to 'Home', root_path %> | 
<%= link_to 'Sensors', sensors_path %> | 
<%= link_to 'Back', sensor_readings_path(@sensor) %>
</div> <!-- .yield -->
