<p id="notice"><%= notice %></p>

<p>
  <b>Data:</b>
  <%= @reading.data %>
</p>

<%= link_to 'Back', sensor_readings_path(@sensor) %> |
<%= link_to 'Edit', edit_sensor_reading_path(@sensor, @reading) %>

