body {
	margin: 0;
	margin-bottom: 25px;
	padding: 0;
	background-color: #FFF;
	font-family: "Helvetica", "Lucida Grande", "Bitstream Vera Sans", "Verdana", sans-serif;
	font-size: 12px;
	color: #333;
	height: 100%;
  line-height: 1.5em;
}
a {
	color: #C50;
	padding: 1px;
}
a:hover {
	text-decoration: none;
	padding: 1px;
}
h1 {
  text-align: center;
}

#page {
	width: 800px;
	margin: auto;
  -moz-box-shadow: 0px 0px 15px #ccc;
  -webkit-box-shadow: 0px 0px 15px #ccc;
  box-shadow: 0px 0px 15px #ccc;
}
div#header {
  margin: auto;
  color: #FFFFFF;
  background: #C50;
	font-family: "Helvetica Neue", "Lucida Grande", "Bitstream Vera Sans", "Verdana", sans-serif;
  line-height: 72px;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 1px #222222;
}
div#header a {
  text-decoration: none;
  color: #FFFFFF;
}
div#header a:hover {
  background: #C50;
  color: #FFF;
}
div#left-box {
	float: left;
	width: 386px;
	padding: 5px;
}
div#right-box {
	float:right;
	width: 386px;
	padding: 5px;
}
#footer {
  width: 800px;
  margin: 5px auto;
	clear: both;
	text-align: right;
	font-variant: small-caps;
  font-size: smaller;
}

div.entry {
	width: 360px;
	padding: 5px 5px 20px 20px;
	margin: 1px;
}
div.entry img {
	height: 40px;
}
div.device-entry-odd {
	width: 360px;
	padding: 5px 5px 10px 10px;
	margin: 1px;
	background: #FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
}
div.device-entry-even {
	width: 360px;
	padding: 5px 5px 10px 10px;
	margin: 1px;
	background: #E1E1E1;
	background: #FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
div.device-name {
	text-align: center;
	line-height: 130%;
}
div.device-image img {
	width: 50px;
	float: left;
	margin: auto;
}
div.device-description {
	width: 300px;
	margin-left: 5px;
	float: left;
}
div.device-readings-header {
	margin: 3px auto -10px;
}
ul.sensor-readings {
	list-style-type: circle;
	list-style-position: inside;
}

div.rules-entry {
	width: 720px;
	padding: 10px;
	border: solid 0px #000;
}
div.rules-entry-odd {
	min-width: 720px;
	padding: 10px;
	margin: 1px;
	background: #E1E1E1;
	background: #FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
div.rules-entry-even {
	min-width: 720px;
	padding: 10px;
	margin: 1px;
	background: #FFF;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
span.box-heading {
	width: 100%;
	min-width: 300px;
	margin: auto;
	font-variant: small-caps;
	text-align: center;
	font-size: 24px;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 120%;
}

div#click-rules {
	padding: 5px;
}
div#click-rules-written {
	padding: 5px;
}
span.clickable {
	padding: 5px;
	cursor: pointer;
	background: #f1f1f1;
	border: 1px solid #a0a0a0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
span.not-clickable {
	padding: 5px;
	cursor: default;
	background: #616161;
	border: 1px solid #a0a0a0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
span.editable{
	padding: 5px;
	cursor: pointer;
	background: #f1f1f1;
	border: 1px solid #a0a0a0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
span.not-editable{
	padding: 5px;
	cursor: default;
	background: #616161;
	border: 1px solid #a0a0a0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
span.hilite { 
	background: yellow; 
}

div#madlibs, div#magnetic {
	margin: auto;
	width: 98%;
	min-width: 700px;
	padding: 5px;
	background: #FFFFFF;
}
#magnetic-create, #madlib-create {
  display: all;
}
textarea {
  width: 430px;
}

#navbar {
  background: #EFEFEF;
  padding: 5px;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  text-shadow: 0px 1px 1px #555;
}
#navbar ul {
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
#navbar li {
  display: inline;
  margin: 0;
  margin-right: 100px;
}
#navbar li.first {
  margin-left: 120px;
}
#navbar li a {
  padding: 2px;
  color: #333;
  font-variant: small-caps;
  text-decoration: none;
  width: 100%;
}
#navbar a:hover {
  color: #C50;
}

.yield {
  margin: 5px;
}
.more {
	margin-right: 5px;
	text-align: right;
}
.code {
  font-family: courier, monospace;
  font-weight: bold;
  text-transform: uppercase;
}
.clear {
	clear: both;
}

div.button {
  padding: 3px;
  background: #C50;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
  background: -moz-linear-gradient(top,  #ccc,  #000);
  color: #FFF;
  text-decoration: none;
  border-color: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
div.button:hover {
  cursor: pointer;
}
