<div id="navbar">
  <ul>
    <li class="first"><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Sensors', sensors_path %></li>
    <li><%= link_to 'Actuators', actuators_path %></li>
    <li><%= link_to 'Rules', rules_path %></li>
  </ul>
</div>
