<% title "Editing Rule" %>

<div class="yield">
<h1>Editing rule</h1>

<%= render 'simple_form' %>

<br/>
<%= link_to 'Home', root_path %> | 
<%= link_to 'Show', @rule %> |
<%= link_to 'Back', rules_path %>
</div> <!-- .yield -->
