<% title "Rules" %>

<div class="yield">
<h1>Listing rules</h1>

<% @rules.each_with_index do |rule, index| %>
<div class="rule-entry">
	<div>
		<%= link_to "Rule #{index+1}", rule %><br/>
	</div>
	<div>
		Rule description:
        <% if rule.description.blank? %>
          None
        <% else %>
		<%= rule.description %>
        <% end %>
	</div>
	<div>
    <%#= link_to 'Show', rule, :class => 'button' %>
		<%#= link_to 'Edit', edit_rule_path(rule) %>
    <%= link_to 'Delete', rule, :class => 'button', :confirm => 'Are you sure?', :method => :delete %>
	</div>
	<br/>
</div> <!-- rule-entry -->
<% end %>

<%= link_to 'New Rule', new_rule_path, :class => 'button' %>
</div> <!-- .yield -->
