<h1>New rule</h1>

<hr/>

<div id="madlibs">
  <%= render 'madlibs' %>
</div> <!-- madlibs -->

<hr/>

<div id="magnetic">
  <%= render 'magnetic' %>
</div> <!-- magnetic -->

<hr/>

<%= render 'form' %>

<br/>

<%= link_to 'Back', rules_path %>
