<% title "New Rule" %>

<h1>New rule</h1>


<div id="madlibs">
  <%#= render 'madlibs' %>
</div> <!-- madlibs -->


<div id="magnetic">
  <%= render 'magnetic_advanced' %>
</div> <!-- magnetic -->

<hr/>

<%#= render 'form' %>

<br/>

<%= link_to 'Back', rules_path %>
