<% title "New Rule" %>
<% test = "madlibs" %>
<% test = "magnetic" %>

<h1>New rule</h1>

<% if test == "test" %>
  <div id="test">
    <%= render 'test' %>
  </div> <!-- test -->
<% elsif test == "madlibs" %>
  <div id="madlibs">
    <%= render 'madlibs' %>
  </div> <!-- madlibs -->
<% elsif test == "magnetic" %>
  <div id="magnetic">
    <%= render 'magnetic' %>
  </div> <!-- magnetic -->
<% else %>
  <%#= render 'form' %>
<% end %>

<br/>

<%= link_to 'Back', rules_path %>
