<div class="yield">
<h1>Editing command</h1>

<%= render 'form' %>

<br/>
<%= link_to 'Home', root_path %> | 
<%= link_to 'Actuators', actuators_path %> | 
<%= link_to 'Back to command', actuator_commands_path(@actuator) %>
</div> <!-- .yield -->
