<div class="yield">
<h1>New command</h1>

<%= render 'form' %>

<br/>
<%= link_to 'Home', root_path %> | 
<%= link_to 'Actuators', actuators_path %> | 
<%= link_to 'Back', commands_path %>
</div> <!-- .yield -->
